HELP.md
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/target/classes/application.yaml
/target/classes/com/company/controllers/AuthController.class
/target/classes/com/company/entities/AuthUser$AuthUserBuilder.class
/target/classes/com/company/entities/AuthUser.class
/target/classes/com/company/repositories/AuthUserRepository.class
/target/classes/com/company/services/AuthUserService.class
/target/classes/banner.txt
/target/classes/com/company/utils/BaseUtils.class
/target/surefire-reports/com.company.contact_manager.ContactManagerApplicationTests.txt
/target/classes/com/company/entities/Contact$ContactBuilder.class
/target/classes/com/company/entities/Contact.class
/target/contact_manager-0.0.1-SNAPSHOT.jar
/target/contact_manager-0.0.1-SNAPSHOT.jar.original
/target/classes/com/company/controllers/ContactController.class
/target/classes/com/company/dtos/contact/ContactDTO.class
/target/classes/com/company/ContactManagerApplication.class
/target/test-classes/com/company/contact_manager/ContactManagerApplicationTests.class
/target/classes/com/company/repositories/ContactRepository.class
/target/classes/com/company/services/ContactService.class
/target/classes/com/company/config/cors/CorsConfig.class
/target/maven-status/maven-compiler-plugin/compile/compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/testCompile/createdFiles.lst
/target/classes/com/company/ex_handlers/handlers/GlobalExceptionHandler.class
/target/classes/com/company/entities/Group$GroupBuilder.class
/target/classes/com/company/entities/Group.class
/target/classes/com/company/controllers/GroupController.class
/target/classes/com/company/repositories/GroupRepository.class
/target/classes/com/company/services/GroupService.class
/target/maven-status/maven-compiler-plugin/compile/compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/testCompile/inputFiles.lst
/target/classes/com/company/config/security/JwtAuthenticationFilter.class
/target/classes/com/company/config/security/JwtService.class
/target/classes/logback-spring.xml
/target/classes/com/company/services/MailService.class
/target/classes/com/company/dtos/MessageSendDTO.class
/target/maven-archiver/pom.properties
/target/classes/com/company/rabbitmq/config/RabbitMQConfig.class
/target/classes/com/company/rabbitmq/consumer/RabbitMQConsumer.class
/target/classes/com/company/rabbitmq/producer/RabbitMQProducer.class
/target/classes/com/company/dtos/authuser/RefreshTokenRequest.class
/target/classes/com/company/dtos/ResponseDTO.class
/target/classes/com/company/enums/Role.class
/target/classes/com/company/config/security/SecurityConfigurer.class
/target/classes/com/company/config/security/SessionUser.class
/target/classes/com/company/enums/Status.class
/target/classes/com/company/config/openapi/SwaggerConfig.class
/target/classes/com/company/utils/telegram_appender/TelegramAppender$1.class
/target/classes/com/company/utils/telegram_appender/TelegramAppender.class
/target/surefire-reports/TEST-com.company.contact_manager.ContactManagerApplicationTests.xml
/target/classes/com/company/dtos/authuser/TokenRequest.class
/target/classes/com/company/dtos/authuser/TokenResponse$TokenResponseBuilder.class
/target/classes/com/company/dtos/authuser/TokenResponse.class
/target/classes/com/company/enums/TokenType.class
/target/classes/com/company/dtos/authuser/TokenValidateDTO.class
/target/classes/com/company/dtos/authuser/UserActivationDTO.class
/target/classes/com/company/dtos/authuser/UserCreateDTO$UserCreateDTOBuilder.class
/target/classes/com/company/dtos/authuser/UserCreateDTO.class
/target/classes/com/company/config/security/UserDetails.class
/target/classes/com/company/entities/UserSMS$UserSMSBuilder.class
/target/classes/com/company/entities/UserSMS.class
/target/classes/com/company/repositories/UserSMSRepository.class
/target/classes/com/company/services/UserSMSService.class
